.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

@media (max-width: 768px) {
  .dashboard-main {
    margin-left: 0;
  }
}

